<!DOCTYPE html>
<html>
  <head>
    <title><%= data.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body
    style="
      background-image: url('/images/logo.png');
      width: 1180px;
      height: 600px;
    "
  >
    <h1><a><%= data.name %></a></h1>
    <p><a>Welcome, <%= data.name %></a></p>
  </body>
</html>
